<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartdeviceny.njtsbus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StopsNearbyActivity"
            android:label="StopsNearbyActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.Schedule" />
        <activity
            android:name=".RouteListActivity"
            android:label="Buses from this Location"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.Schedule" />

        <activity
            android:name=".StopTimeActivity"
            android:label="Stop Times"
            android:parentActivityName=".RouteListActivity"
            android:theme="@style/AppTheme.Schedule" />
        <activity
            android:name=".BusesForRouteActivity"
            android:label="Live Buses"
            android:parentActivityName=".RouteListActivity"
            android:theme="@style/AppTheme.Schedule" />
        <activity
            android:name=".BusesPredictionActivity"
            android:label="Predictions Buses"
            android:parentActivityName=".BusesForRouteActivity"
            android:theme="@style/AppTheme.Schedule" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBoIzv1e-aA-XI5EGj-TNgkjlL-HbEY39c" /> <!-- AIzaSyCAF5W8VR69bOc4LxZfyZsxgRDbmmAaI_A-->
        <meta-data android:name="com.google.android.gms.maps.API_OPTIONS"
            android:value="B3H9HE845CFHYG"/>
        <activity
            android:name=".GoogleMapLiveTrackingActivity"
            android:label="Stop Times"
            android:parentActivityName=".RouteListActivity"
            android:theme="@style/AppTheme.Schedule" />


        <activity android:name=".SearchableActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <provider
            android:name=".content_provider.ScheduleContentProvider"
            android:authorities="com.smartdeviceny.njtsbus" >
        </provider>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>